body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    /* grid-template-rows: repeat(3, minmax(min-content, max-content)); */
    grid-auto-rows: auto;
    grid-column-gap: 32px;
    padding: 32px;

    --section-header-color: #6582be;
    --side-panel: #f6f7f9;
    --text-color: #707070;
    --title-header-color: #676767;

    color: var(--text-color);
}

/**
 * Grid Configuration
 */
header {
    grid-area: 1 / 1 / 1 / 5;
}

section#contact {
    grid-area: 3 / 1 / 3 / 5;
}

section#summary {
    grid-area: 2 / 1 / 2 / 5;
}

section#skills {
    grid-area: 4 / 1 / 4 / 5;
}

section#experience {
    grid-area: 5 / 1 / 5 / 5;
}

section#education {
    display: none;
}

@media screen and (min-width: 720px) {
    header {
        grid-area: 1 / 1 / 1 / 4;
    }

    section#contact {
        grid-area: 1 / 4 / 3 / 4;
    }

    section#summary {
        grid-area: 2 / 1 / 2 / 4;
    }

    section#skills {
        grid-area: 3 / 4;
    }

    section#experience {
        grid-area: 3 / 1 / 5 / 4;
    }

    section#education {
        grid-area: 4 / 4 / 6 / 4;
    }
}

/**
 * Side Panel Elements
 */
section#contact,
section#skills,
section#education {
    padding: 16px;
    background-color: var(--side-panel);
}

/**
 *
 */
header {
    color: var(--section-header-color);

    p {
        color: var(--title-header-color);
        font-size: 18px;
    }
}

section:not(#summary) > h2 {
    padding: 16px 0;
    color: var(--section-header-color);
    border-bottom: 1px solid var(--text-color);
}

section#summary {
    padding: 8px 0;
    text-align: justify;
}

section#contact {
    a {
        color: var(--text-color);
        text-decoration: none;

        &:active,
        &:focus {
            color: var(--text-color);
        }
    }

    ul {
        padding: 0;
        list-style-position: inside;

        > li {
            padding: 4px 0;

            &::marker {
                color: var(--title-header-color);
            }
        }
    }
}

section#skills {
    & > .line-block {
        padding: 16px 0;
    }

    & > p {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: flex-start;
        padding: 8px 0;

        & > code {
            padding: 4px;
            background-color: var(--section-header-color);
            border-radius: 4px;
            color: white;
        }
    }
}

section > h3 {
    padding: 16px 0;
}

section > h5 {
    padding: 16px 0;
    font-size: 16px;
}

section > h6 {
    padding: 8px 0;
    font-size: 14px;
}

section > ul {
    padding: 0 32px;

    li {
        ul {
            padding: 0 32px;
        }

        &::marker {
            color: var(--section-header-color);
        }
    }
}

h5.position {
    display: flex;
    justify-content: space-between;
}
